body{
	background-color: #DDD2D4;
}

.container{
	display: grid;
	grid-auto-rows: 1fr .25fr 1fr 1fr;
	background-color: #C4B0B3;
}

.topgrid{
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}

.top1{

	font-family: "lane_-_narrowregular";
	font-size: 150px;
	font-size: 11vw;
	color: #f4edee;
	text-align: right;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.portrait{
	border-radius: 50%;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	z-index: 1;
	position: relative;
}

.top3{

	font-family: "lane_-_narrowregular";
	font-size: 150px;
	font-size: 11vw;
	color: #f4edee;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.middlegrid{
    grid-row: 2/3;
    border-top: .2vw solid #f4edee;
    margin-top: -2vw;
	display: grid;
	position: relative;
	grid-auto-columns: 1fr 1fr;
	margin-bottom: 2vw;
}


.mid1{
	grid-column: 1/2;
	font-family: "lane_-_narrowregular";
	font-size: 150px;
	font-size: 5vw;
	color: #f4edee;
	text-align: right;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
    margin-right: 7vw;
}

.mid2{
	grid-column: 2/2;
	font-family: "lane_-_narrowregular";
	font-size: 150px;
	font-size: 5vw;
	color: #f4edee;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
    margin-left: 7vw;
}

.bottomgrid{
	grid-row: 3/3;
	display: grid;
	grid-template-columns: auto auto auto auto;
	position: relative;
}

.ui{
    display: flex;
    justify-content: center;
	align-items: center;
	border: .2vw solid #f4edee;
	border-left: .1vw solid #f4edee;
	border-right: .1vw solid #f4edee;
}

.pixel{
    display: flex;
    justify-content: center;
	align-items: center;
	border: .2vw solid #f4edee;
	border-left: .1vw solid #f4edee;
	border-right: .1vw solid #f4edee;
}

.home{
    display: flex;
    justify-content: center;
	align-items: center;
	border: .2vw solid #f4edee;
	border-right: .1vw solid #f4edee;
	background-color: #594a4c;
	color: #DDD2D4;
}

.contact{
    display: flex;
    justify-content: center;
	align-items: center;
	border: .2vw solid #f4edee;
	border-left: .1vw solid #f4edee;
}

a{
	display: flex;
    font-family: 'aaarghnormal';
    text-decoration: none;
    font-size: 3vw;
    color: #f4edee;
    height: 3.5vw;
}


a:hover{
    background-color: #847072;
    color:white;
}

.home:hover{
	background-color: #594a4c;
	color: #DDD2D4;
}

.aboutheader{
	font-family: "lane_-_narrowregular";
	font-size: 70px;
	font-size: 5vw;
	color: white;
	text-align: center;
}

.about{;
	margin: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.abouttext{
	font-family: "lane_-_narrowregular";
	font-size: 25px;
	font-size: 2vw;
	color: white;
	text-align: center;
}

.linkword{
	display: flex;
	align-items: center;
}